html {
    scroll-behavior: smooth;
}

#mainContainer {
    /* border-color: blue;
    background-color: blue; */
    width: 80vw;
    height: 95vh;
    margin: 0 auto;
    justify-content: center; 
}

#navBar {
    display: flex;
    justify-content: space-between;
    /* border-color: black;
    background-color: red; */
    height: 6%;
    width: 95%;
    margin: 0 auto;
}

#productContainer {
    /* border-color: goldenrod;
    background-color: purple; */
    height: 50%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

#reviewsContainer {
    /* border-color: green;
    background-color: orange; */
    height: 26%;
    width: 95%;
    margin: 0 auto;
    display: block;
    overflow-y: auto;
    margin-top: 4%;
}

.cart {
    position: relative;
}

#cartQuantity {
    position: absolute;
    top: -4%;
    left: 21px;
    border-radius: 50%;
    color: rgb(8, 8, 8);
    padding: 0.20em;
    visibility: hidden;
}

#cartIcon {
    width: 3vw;
    padding-right: 2vw;
}

#productImage {
    /* border: thin solid red;
    background-color: pink; */
    height: auto;
    width: 45%;
    height: 90%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 0 auto;

}

#productInteraction {
    border: thin solid black;
    background-color: rgb(163, 162, 162);
    width: 45%;
    height: 90%;
    margin-left: 2vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#productDetails {
    /* border: thin solid fuchsia;
    background-color: lightblue; */
}

#shoePictureContainer {
    /* border: thin solid lightgray; */
    /* background-color: firebrick; */
    width: auto;
    height: auto;
    text-align: center;
}

#shoePicture {
    text-align: center;
    width: 15vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.productInfo {
    /* border: thin solid brown;
    background-color: green; */
    width: 85%;
    margin-left: 2vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.review {
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: thin solid black;
}

#productExtras {
    width: 85%;
    margin-left: 2vw;
    margin-top: 9.5%;
    margin-bottom: 2.5%;
}

span {
    /* border: thin solid olivedrab;
    background-color: orange; */
    display: inline;
}

.button
{
    background-color: rgb(7, 55, 99);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;

}

.modal {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 61, 73);
    background-color: rgba(46, 61, 73, 0.6);
}

.modal-content {
    position: fixed;
    display: none;
    top: 0;
    left: 7.5%;
    background-color: white;
    border: 1em solid rgb(10, 10, 10);
    width: 85%;
    margin-top: 5%;
}